[Interface]
PrivateKey = {{ wg_private_key }}
Address = {{ wg_address }}

[Peer]
PublicKey = {{ wg_hub_public_key }}
Endpoint = {{ wg_hub_endpoint }}
AllowedIPs = 10.10.0.0/24
PersistentKeepalive = 25