jenkins:
  systemMessage: "PathOps demo Jenkins"

  projectNamingStrategy:
    roleBased:
      forceExistingJobs: true

  securityRealm:
    oic:
      clientId: "{{ jenkins_oidc_client_id }}"
      clientSecret: "{{ jenkins_oidc_client_secret }}"
      serverConfiguration:
        wellKnown:
          wellKnownOpenIDConfigurationUrl: "{{ jenkins_keycloak_issuer }}/.well-known/openid-configuration"
          scopesOverride: "{{ jenkins_oidc_scopes | join(' ') }}"
      userNameField: "preferred_username"
      fullNameFieldName: "name"
      emailFieldName: "email"

  authorizationStrategy:
    roleBased:
      roles:
        global:
          - name: "admin"
            description: "Jenkins administrators"
            permissions:
              - "Overall/Administer"
            entries:
              - user: "{{ jenkins_admin_username }}"

          - name: "developer"
            description: "Authenticated developers"
            permissions:
              - "Overall/Read"
              - "Job/Create"
              - "Job/Read"
              - "Job/Discover"
              - "Job/Build"
              - "Job/Cancel"
              - "View/Read"
            entries:
              - group: "authenticated"

unclassified:
  location:
    url: "{{ jenkins_root_url }}"